<div class="challenges-grid-search">

  <% @challenges.each do |challenge| %>
    <div class="challenge-card">
      <h5><%= link_to challenge.name, challenge_path(challenge), class: "card-link" %></h5>
      <div class="challenge-details"><p><%= challenge.description %></p></div>

    </div>
  <% end %>


  <% @categories.each do |category| %>
    <div class="challenge-card">
      <h5><%= link_to category.name, category_path(category) %></h5>
      <p><%= category.description %></p>
    </div>
  <% end %>

  <% @users.each do |user| %>
    <div>
      <h5><%= link_to user.username, user_path(user) %></h5>
      <p><%= user.profile_description %></p>
    </div>
  <% end %>

  </div>
</div>
