<div class="booking-form" data-controller="habit-form">
  <div class="habit-salutation">
    <h1>Yay You!</h1>
    <h2><strong class="carbon" data-habit-form-target="carbonAmount"><%= @challenge.saving_carbonamount.to_i %></strong> kg CO2 reduced</h2>
  </div>
  <div class="form-habit">
    <%= simple_form_for([@challenge, @habit], html: { data: {
    controller: "alert",
    alert_icon_value: "success",
    alert_title_value: "Hooray!",
    alert_html_value: "Your habit has been created!",
    alert_confirm_button_text_value: "OK",
    alert_show_cancel_button_value: true,
    alert_cancel_button_text_value: "Cancel",
    action: "submit->alert#initSweetalert",
    turbo: false
    } })do |f| %>
      <%= f.input :day_of_week,
      collection: Habit::DAYS_OF_WEEK,
      include_blank: true %>
      <%= f.input :implementation_cycle,
      collection: Habit::IMPLEMENTATION_CYCLE, include_blank: true, input_html: {
      data: {action: "change->habit-form#updateCarbonAmount"}} %>
      <%= f.button :submit, class: "btn-habit" %>
    <% end %>
  </div>
</div>


