
<div class="booking-form">
  <div class="habit-salutation">
    <h1>Yay You!</h1>
    <h2><strong><%= @challenge.saving_carbonamount %></strong> CO2 reduced</h2>
  </div>
  <div class="form-habit">
    <%= simple_form_for([@challenge, @habit], html: { data: {
    controller: "alert",
    alert_icon_value: "info",
    alert_title_value: "Form Submission",
    alert_html_value: "Submit the form?",
    confirm_button_text: "Submit",
    show_cancel_button: true,
    cancel_button_text: "Cancel",
    action: "submit->alert#initSweetalert",
    turbo: false
    } }) do |f| %>
      <%= f.input :day_of_week %>
      <%= f.input :implementation_cycle %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
