<div class="full-container">
  <% if user_signed_in? %>
    <div class="two-sides-view">
      <div class="switching-container" data-controller="toggle">

         <h2 class="dashboard-title">Hello, <strong><%= @user.username %></strong>!</h2>
         <h3 class="dashboard-text">You have <strong class="challenge-no"><%= @user_challenges.count %></strong> active challenges!</h3>
        <div class="toggle toggle-top-right">
          <input type="checkbox" id="temp" data-action="click->toggle#toggleDiv">
          <label for="temp"></label>
        </div>

          


      <%# calender for event view %>
      <div class="calendar-side div1" data-toggle-target="div1">
          <%= render "calendar" %>
      </div>


        <%# Statistics part: %>
        <div class="statistic-side div2 d-none" data-toggle-target="div2">
          <%= render "statistics" %>
        </div>
      </div>

      <div class="tree-side">
        <%= render "dashboards/tree",
        tree: @score[:tree],
        badge: @score[:icon] %> <%# this is the tree animation %>
      </div>
    </div>
  <% end %>
</div>
