

<div data-controller="carousel">
  <div class="categories-carousel <%= params[:category].blank? ? 'active' : '' %>">
    <%= link_to "All", challenges_path, class: "category-filter-button" %>
  </div>

  <div class="category-container">
    <% @categories.each do |category| %>
      <%= link_to category.name, challenges_path(category: category.id), class: "category-filter-button" %>
    <% end %>
  </div>


  <div class="category-container">
    <div>
      <%= @category_name %>
      <%= @category_description %>
    </div>
  </div>

  <h1>Challenges</h1>

  <div class="challenges-container">
    <% if params[:category].present? %>
      <% challenges = Challenge.where(category_id: params[:category]) %>
      <% challenges.each do |challenge| %>
        <div class="challenge-card">
          <%= challenge.name %>
          <%= challenge.description %>
          <%= challenge.saving_carbonamount %>
        </div>
      <% end %>
    <% else %>
      <% @challenges.each do |challenge| %>
        <div class="challenge-card">
          <%= challenge.name %>
          <%= challenge.description %>
          <%= challenge.saving_carbonamount %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
