<div class="challnege show container">
    <div class="skill-view">


<%= render 'shared/banner' %>
  </div>
</div>


    <%= simple_form_for([@challenge, @habit]) do |f| %>
      <%= f.input :day_of_week %>
       <%= f.input :implementation_cycle %>
    <%= f.button :submit, class: "btn bth-primary" %>
  <% end %>
