<%# Specific challenge page %>
<div class="challenge-show-container">
  <%= render 'shared/banner' %>
  <div class="challenge-content">
    <div class="challenge-left-side">
      <h2> <i class="fa-solid fa-heart-circle-check icon"></i> About This Challenge</h2>
        <br>
      <p><%= @challenge.description %></p>
         <div class="divider"></div>
      <h3 class="commit">By committing to this challenge once, you will cut:</h3>
      <p class="carbon-tag"><%= @challenge.saving_carbonamount.to_i %> kg CO2</p>
       <div class="divider"></div>
      <h3><i class="fa-solid fa-circle-info icon"></i></i> Did you know...</h3>
        <p class="info">Did you know that even the smallest actions can make a remarkable impact on reducing your carbon footprint? It's fascinating how these seemingly insignificant choices can collectively contribute to a more sustainable future. By incorporating simple habits into your daily life, you have the power to create a positive environmental change.By incorporating these small yet impactful actions into your daily routine, you become an agent of change. Each choice you make adds up to a significant collective effort in creating a more sustainable and environmentally friendly world. Remember, even the tiniest actions can make a difference!</p>
      <%= link_to 'Back', :back, class: 'btn btn-habit' %>
    </div>
    <div class="challenge-right-side">
      <%= render 'shared/habit_form' %>
    </div>
  </div>
</div>
