<!DOCTYPE html>
<html>
  <head>
    <title>Greenpath</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# lotti files %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %></div>
    <%= yield %></div>

<%# for someone who does the footer- adjust the logic from Skillwall to stick footer to the bottom, change the page styling after with new classes %>

  </body>
</html>
